/****** vars ******/
$fs-xs: 12px;
$fs-sm: 15px;
$fs-md: 20px;
$fs-lg: 25px;
$fs-xlg: 30px;
/****** vars ******/
::selection{
    color: #191919;
    background: #ff8a1f8f;
}

@import url('https://fonts.googleapis.com/css?family=Cairo|Dosis&display=swap&subset=arabic');
*
{
    font-family: 'Cairo', 'Dosis' !important;
    box-sizing: border-box;
    letter-spacing: normal;

    &::-webkit-scrollbar{
        background-color: #191919;
        width: 13px;
    }
    &::-webkit-scrollbar-button
    {
        display: none;
    }
    &::-webkit-scrollbar-corner
    {
        background-color: #ef941a;
    }
    &::-webkit-scrollbar-thumb
    {
        background-color: #ff8a1f;
        border-radius: 5px;
    }
}


body
{
    background-color: #fff;
}

hr
{
    height: 2px;
    background-color: #ef941a;
    margin: 10px auto;
}
.container
{
    width: 96% !important;
    margin: 0 auto !important;
}
.w-100

{
    width: 100% !important;
}
.mc
{
    color: #ef941a;
}

.mbg
{
    background-color: #ef941a;
}

.vc {
    display: flex;
    column-count: 1;
    justify-content: center;
    align-items: center;

}

.w-btn
{
    background-color: #fff;
    color: #000;
    font-weight: 700;
    font-size: 17px;

}
.w-btn.uk-active
{
    background: linear-gradient(to top left, #ff8a1f, #ffd400) !important;
    color: #fff !important;
    font-weight: 900;
    
    &:hover
    {
        box-shadow: none;
    }
}
.btn{
    background: linear-gradient(to left top, #ff8a1f, #ffd400) !important;
    color: #fff !important;
    padding: 10px !important;
    text-decoration: none;
   
    &:hover{
        background-color: transparent;
        border: 1px solid #ef914a;
        color: #ef914a;
    }
}
.SectionTitle
{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

select.select {
    option {
        padding: 5px !important;
        width: 100%;
    }
}

.s-langSwitch {
    select {
        appearance: menulist-button !important;
        background-color: #232222;
        width: 100%;
        padding: 5px 25px;
        margin: 0 0 15px 0; 
        color: #fff;

        option {
            padding: 2px !important;
            background-color: #232222;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }
    }
}